<div class="container profiles">
  <div class="columns">
    <div class="column">
      <figure class="image">
        <img src="<%= user.avatar %>" alt="<%= user.username %>">
      </figure>
    </div>
    <div class="column">
      <h3 class="title"><%= user.username %></h3>
      <div class="">
        <div class="icon is-small">
          <i class="fa fa-pencil"></i>
        </div>
        <span><%= user.username %>'s Comments</span>
        <ul class="comments">
          <div class="box">
          <% user.comments.forEach(comment => { %>
            <% if(comment.cinema) { %>
            <li>

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <h2> <a href="/cinemas/<%= comment.cinema._id %>"> <%= comment.cinema.name %> </a> <h2>
                    <h4> Rating: <%= comment.rating %> </h4>
                    <p>
                      <%= comment.content %>
                    </p>
                  </div>
                </div>
              </article>

            </li>
            <% } %>
          <% }) %>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
