<div class="container show">
  <div class="columns is-multiline">
    <div class="column heroimage">
      <figure class="image">
        <img src="<%= cinema.image %>" alt="<%= cinema.name %>">
      </figure>
    </div>
    <% if(locals.isAdmin) { %>
      <a href="/cinemas/<%= cinema._id %>/edit" class="button is-primary">Edit</a>

      <form method="POST" action="/cinemas/<%= cinema._id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button class="button is-danger">Delete</button>
      </form>
      <% } %>
    <div class="column credits is-full-desktop">

      <h3 class="title"><%= cinema.name %></h3>
      <h4 class="subtitle">Rating: <%= cinema.averageRating %> <i class="fa fa-star"></i> <br> Reviews: <%= cinema.comments.length + 1 %> </h4>
      <h5 class="subtitle">Address: <%= cinema.location %></h5>
      <p><%= cinema.description %></p>
      <hr>
      <table>
        <tr>
          <td>Screens:</td>
          <td><%= cinema.screens %></td>
        </tr>
        <tr>
          <td>Restaurant:</td>
          <td><%= cinema.restaurant %></td>
        </tr>
        <tr>
          <td>Drinks served:</td>
          <td><%= cinema.alcohol %></td>
        </tr>
        <tr>
          <td>OST Showings:</td>
          <td><%= cinema.ost %></td>
        </tr>
        <tr>
          <td>Accessibility:</td>
          <td><%= cinema.wheelchair %></td>
        </tr>
        <tr>
          <td>Parking available:</td>
          <td><%= cinema.parking %></td>
        </tr>
      </table>
    </div>

    <div class="column comments is-full-desktop">

        <ul class="comments">
        <% cinema.comments.filter(comment => comment.approved === true).forEach(comment => { %>
          <li>
          <div class="box">
          <% if(locals.isAuthenticated) { %>
            <% if(comment.isOwnedBy(locals.currentUser) || locals.isAdmin) { %>
              <form class="delete" style="float: right" method="POST" action="/cinemas/<%= cinema._id %>/comments/<%= comment._id %>">
              <input type="hidden" name="_method" value="DELETE">
              <button class="delete" >x</button>
              </form>
            <% } %>
          <% } %>
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <% if(comment.user) { %>
                    <a href="/profiles/<%= comment.user._id %>"> <%= comment.user.username %> </a>
                  <% } %>
                  <h4> Rating: <%= comment.rating %> </h4>
                  <p>
                    <%= comment.content %>
                  </p>
                </div>
              </div>
            </article>
            </div>
          </li>
        <% }) %>
        </ul>
      </div>

    <div class="column postcomment is-full-desktop">
        <form method="POST" action="/cinemas/<%= cinema._id %>/comments">
        <div class="field">
          <label class="label">Rating</label>
          <div class="control">
            <div class="select">
              <select name="rating">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
        </div>
        <textarea class="textarea" name="content"></textarea>
        <button class="button is-primary">Submit</button>
        </form>
    </div>


  </div>
</div>
