
<div class="container has-text-centered moderation">
  <h1 class="title">With great power comes great responsibility</h1>
  <h3 class="subtitle">Unapproved Comments</h3>
  <ul class="comments">
    <% unapprovedComments.forEach(comment => { %>
      <% if(comment.cinema) { %>
      <li>
      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
            <% if(comment.approved !== true) { %>
            <form class="approve" method="POST" action="/moderation/<%= comment.cinema._id %>/comments/<%= comment._id %>">
            <input type="hidden" name="_method" value="PUT">
            <button class="button is-primary">Approve</button>
            </form>
            <form class="delete" method="POST" action="/moderation/<%= comment.cinema._id %>/comments/<%= comment._id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button class="button is-danger">Delete</button>
            </form>
            <% } %>
              <h2> <a href="/cinemas/<%= comment.cinema._id %>"> <%= comment.cinema.name %> </a> <h2>
              <h4> Rating: <%= comment.rating %> </h4>
              <p>
                <%= comment.content %>
              </p>
              <p>
              <% if(comment.user) { %>
                <a href="/profiles/<%= comment.user._id %>"> <%= comment.user.username %> </a>
              <% } %>
              </p>
            </div>
          </div>
        </article>
        </div>
      </li>
      <% } %>
    <% }) %>
  </ul>
</div>
