<div class="container">
  <div class="columns">
    <div class="column">
      <figure class="image">
        <img src="<%= user.avatar %>" alt="<%= user.username %>">
      </figure>
    </div>
    <div class="column">
      <h3 class="title"><%= user.username %></h3>
      <h4 class="subtitle"><%= user.email %></h4>
      <div class="">
        <div class="icon is-small">
          <i class="fa fa-pencil"></i>
        </div>
        <span>My Comments</span>
        <ul class="comments">
          <% user.comments.forEach(comment => { %>
            <% if(comment.cinema) { %>
            <li>
            <div class="box">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <h2> <a href="/cinemas/<%= comment.cinema._id %>"> <%= comment.cinema.name %> </a> <h2>
                    <h4> Rating: <%= comment.rating %> </h4>
                    <p>
                      <%= comment.content %>
                    </p>
                  </div>
                </div>
              </article>
              </div>
            </li>
            <% } %>
          <% }) %>
        </ul>
      </div>
      <div class="">
        <div class="icon is-small">
          <i class="fa fa-heart"></i>
        </div>
        <span>My Favorites</span>
        <ul class="favorites">
          <% user.favorites.forEach(favorite => { %>
            <li>
            <div class="box">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <h2> <a href="/cinemas/<%= favorite._id %>"> <%= favorite.name %> </a> <h2>
                    <figure class="image">
                      <img src="<%= favorite.image %>" alt="<%= favorite.name %>">
                    </figure>
                    <h4> Rating: <%= favorite.rating %> </h4>
                    <p>
                      <%= favorite.description %>
                    </p>
                  </div>
                </div>
              </article>
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
</div>
